{% extends 'base.html' %}


{% block title %}List meal{% endblock %}


{% block content %}
    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div class="page-header">
                    <ul class="breadcrumbs">
                        <li class="nav-home">
                            <a href="/">
                                <i class="flaticon-home"></i>
                            </a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="/meal/list">Meals</a>
                        </li>
                    </ul>
                </div>
                <div class="page-category">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <div class="card-title">Meals</div>
                                <a class="btn btn-warning btn-round ml-auto" href="/meal/create">
                                    <i class="fa fa-plus"></i>
                                    Add a new meal
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-head-bg-warning">
                                <thead>
                                    <tr>
                                        <th scope="col-1">#</th>
                                        <th scope="col-2">User</th>
                                        <th scope="col-1" class="col-1">All Info</th>
                                        <th scope="col-2">Menu Name</th>
                                        <th scope="col-2">Menu information</th>
                                        <th scope="col-2">ID Tray</th>
                                        {% if g.user['id_permission'] == 1  %}
                                            <th scope="col-1">Edit</th>
                                        {%endif%}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for meal in meals %}
                                        <tr>
                                            <td>{{loop.index}}</td>
                                            <td>{{ meal['uname'] }}</td>
                                            <td><a class="fas fa-info btn btn-warning btn-round ml-auto" href="/meal/{{ meal['id_meal'] }}/info"></a></td>
                                            <td>{{ meal['mname'] }}</td>
                                            <td>{{ meal['minformations'] }}</td>
                                            <td>{{ meal['tname'] }}</td>
                                            {% if g.user['id_permission'] == 1  %}
                                                <td><a class="fas fa-edit btn btn-warning btn-round ml-auto" href="/meal/{{ meal['id_meal'] }}/edit"></a></td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}