{% extends 'base.html' %}


{% block title %}Categories{% endblock %}


{% block content %}
    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div class="page-header">
                    <ul class="breadcrumbs">
                        <li class="nav-home">
                            <a href="/">
                                <i class="flaticon-home"></i>
                            </a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="/bug/list">Bugs/Suggestions</a>
                        </li>
                    </ul>
                </div>
                <div class="page-category">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <div class="card-title">Categories</div>
                                <a class="btn btn-warning btn-round ml-auto" href="/bug/create">
                                    <i class="fa fa-plus"></i>
                                    Add a new bug or suggestion
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-head-bg-warning">
                                <thead>
                                    <tr>
                                        <th scope="col-1">#</th>
                                        <th scope="col-2">Title</th>
                                        <th scope="col-2">Informations</th>
                                        {% if g.user['id_permission'] == 1 %}
                                            <th scope="col-1">Corrected</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for bug in bugs %}
                                        <tr>
                                            <td>{{loop.index}}</td>
                                            <td>{{ bug['title'] }}</td>
                                            <td>{{ bug['informations'] }}</td>
                                            {% if g.user['id_permission'] == 1 %}
                                                <td><form action="/bug/{{ bug['id_bug'] }}/delete" method="post"><button type="submit" id="addRowButton" class="btn btn-warning btn-round ml-auto"><i class="fas fa-trash-alt"></i></button></form></td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}