{% extends 'base.html' %}


{% block title %}Add Food{% endblock %}

{% block content %}
    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div class="page-header">
                    <h4 class="page-title">Add Food to</h4>
                </div>
                <div class="page-category">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">{{menu['name']}}</div>
                            </div>
                            <div class="card-body">
                                <form  method="post">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default form-check">
                                                <label for="food">Food</label>
                                                <select class="form-control" id="food" name="food">
                                                    {% for food in foods %}
                                                        <option value="{{ food['id_food'] }}">{{ food['name'] }}</option>
                                                    {% endfor %}}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label><b>Quantity</b></label>
                                                <input name="quantity" id="quantity" type="text" class="form-control" placeholder="Enter quantity" required>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" id="addRowButton" class="btn btn-warning btn-lg btn-block">Add</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}