{% extends 'base.html' %}


{% block title %}Add Menu{% endblock %}

{% block content %}
    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div class="page-header">
                    <ul class="breadcrumbs">
                        <li class="nav-home">
                            <a href="/">
                                <i class="flaticon-home"></i>
                            </a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="/menu/list">Menu</a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="/menu/create">Create</a>
                        </li>
                    </ul>
                </div>
                <div class="page-category">
                    {% include 'flashed_messages.html' %}
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Add Menu</div>
                            </div>
                            <div class="card-body">
                                <form action="/menu/create" method="post">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label><b>Name</b></label>
                                                <input name="name" id="name" type="text" class="form-control" placeholder="Enter menu name" required>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label><b>Information</b></label>
                                                <input name="information" id="information" type="text" class="form-control" placeholder="Enter information" required>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" id="addRowButton" class="btn btn-warning btn-lg btn-block">Add</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}