{% extends 'base.html' %}


{% block title %}Menus{% endblock %}


{% block content %}
    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div class="page-header">
                    <ul class="breadcrumbs">
                        <li class="nav-home">
                            <a href="/">
                                <i class="flaticon-home"></i>
                            </a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="/menu/list">Menu</a>
                        </li>
                    </ul>
                </div>
                <div class="page-category">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <div class="card-title">List</div>
                                <a class="btn btn-warning btn-round ml-auto" href="/menu/create">
                                    <i class="fa fa-plus"></i>
                                    Add a new menu
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-head-bg-warning">
                                <thead>
                                    <tr>
                                        <th scope="col" class="col-1">#</th>
                                        <th scope="col" class="col-1">All Info</th>
                                        <th scope="col" class="col-2">Name</th>
                                        <th scope="col" class="col-3">Informations</th>
                                        <th scope="col" class="col-2">Added by</th>
                                        <th scope="col" class="col-1">Desactivation</th>
                                        <th scope="col" class="col-1">Edit</th>
                                        <th scope="col" class="col-1">Copy</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for menu in menus %}
                                        <tr>
                                            <td>{{loop.index}}</td>
                                            <td><a class="fas fa-info btn btn-warning btn-round ml-auto" href="/menu/{{ menu['id_menu'] }}/info"></a></td>
                                            <td>{{ menu['mname'] }}</td>
                                            <td>{{ menu['minformations'] }}</td>
                                            <td>{{ menu['uname'] }}</td>
                                            {% if g.user['id_permission'] == 1 or food['id_user'] == g.user['id_user'] %}
                                                <td><form action="/menu/{{ menu['id_menu'] }}/delete" method="post"><button type="submit" id="addRowButton" class="btn btn-warning btn-round ml-auto"><i class="fas fa-trash-alt"></i></button></form></td>
                                                <td><a class="fas fa-edit btn btn-warning btn-round ml-auto" href="/menu/{{ menu['id_menu'] }}/edit"></a></td>
                                            {% else %}
                                                <td>-</td>
                                                <td>-</td>
                                            {% endif %}
                                                <td><a class="fas fa-copy btn btn-warning btn-round ml-auto" href="/menu/{{ menu['id_menu'] }}/copy"></a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}