{% extends 'base.html' %}


{% block title %}Update User {% endblock %}

{% block content %}
    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div class="page-header">
                    <ul class="breadcrumbs">
                        <li class="nav-home">
                            <a href="/">
                                <i class="flaticon-home"></i>
                            </a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="/user/list">User</a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="/user/{{ user['id_user'] }}/update">Update</a>
                        </li>
                    </ul>
                </div>
                <div class="page-category">
                    {% include 'flashed_messages.html' %}
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Update {{ user['name'] }}</div>
                            </div>
                            <div class="card-body">
                                <form name="test" method="post" enctype="multipart/form-data">
                                    <div class="row">

                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default form-check">
                                                <label for="person">Person</label>
                                                <select class="form-control" id="person" name="person">
                                                    {% for person in persons %}
                                                        <option value="{{ person['id_person'] }}">{{ person['name'] }}</option>
                                                    {% endfor %}}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label for="mail">Email Address</label>
                                                <input type="email" class="form-control" name ="mail" id="mail" value="{{ user['mail'] }}" placeholder="Enter Email">
                                                <small id="emailHelp2" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label for="password1" class="placeholder"><b>Password</b></label>
                                                <input id="password1" name="password1" type="password" class="form-control" required>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label for="password2" class="placeholder"><b>Retype password</b></label>
                                                <input id="password2" name="password2" type="password" class="form-control" required>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default form-check">
                                                <label for="permission">Permission</label>
                                                <select class="form-control" id="permission" name="permission">
                                                    <option value="1"
                                                    {% if user['id_permission'] == 1 %}
                                                        selected="selected"
                                                    {% endif %}
                                                    >Administrator</option>
                                                    <option value="2"
                                                    {% if user['id_permission'] == 2 %}
                                                        selected="selected"
                                                    {% endif %}
                                                    >Simple User</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="form-group form-show-validation">
                                                <label class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Upload Image <span class="required-label">*</span></label>
                                                <div class="col-lg-4 col-md-9 col-sm-8">
                                                    <div class="input-file input-file-image">
                                                        <img class="img-upload-preview img-circle" width="100" height="100" src="http://placehold.it/100x100" alt="preview">
                                                        <input type="file" class="form-control form-control-file" id="image" name="image" accept="image/*" >
                                                        <label for="image" class=" label-input-file btn btn-icon btn-primary btn-round btn-lg"><i class="fa fa-file-image-o"></i> Upload a Image</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Actif</label>
                                                <input name="actif" id="actif" type="checkbox" data-toggle="toggle"
                                                {% if user['actif'] == 1 %}
                                                    checked
                                                {% endif %}
                                                >
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" id="addRowButton" class="btn btn-warning btn-lg btn-block">Update</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}