{% extends 'base.html' %}


{% block title %}List foods{% endblock %}


{% block content %}
    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div class="page-header">
                    <ul class="breadcrumbs">
                        <li class="nav-home">
                            <a href="/">
                                <i class="flaticon-home"></i>
                            </a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="/food/list">Foods</a>
                        </li>
                    </ul>
                </div>
                <div class="page-category">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <div class="card-title">Foods</div>
                                {% if g.user['id_permission'] == 1 %}
                                    <a class="btn btn-warning btn-round ml-auto" href="/food/create">
                                        <i class="fa fa-plus"></i>
                                        Add a new food
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-head-bg-warning">
                                <thead>
                                    <tr>
                                        <th scope="col-1">#</th>
                                        <th scope="col-2">Name</th>
                                        <th scope="col-2">Category</th>
                                        <th scope="col-2">Information</th>
                                        <th scope="col-2">Added by</th>
                                        <th scope="col-1">Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for food in foods %}
                                        <tr>
                                            <td>{{loop.index}}</td>
                                            <td>{{ food['fname'] }}</td>
                                            <td>{{ food['cname'] }}</td>
                                            <td>{{ food['information'] }}</td>
                                            <td>{{ food['uname'] }}</td>
                                            <td>
                                            {% if g.user['id_permission'] == 1 or food['id_user'] == g.user['id_user'] %}
                                                <a class="fas fa-edit btn btn-warning btn-round ml-auto" href="/food/{{ food['idfood'] }}/update"></a></td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}