{% extends 'base.html' %}


{% block title %}Version list {% endblock %}


{% block content %}
    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div class="page-header">
                    <ul class="breadcrumbs">
                        <li class="nav-home">
                            <a href="/">
                                <i class="flaticon-home"></i>
                            </a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="/version/list">Versions</a>
                        </li>
                    </ul>
                </div>
                <div class="page-category">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <div class="card-title">Versions</div>
                                <a class="btn btn-warning btn-round ml-auto" href="/version/create">
                                    <i class="fa fa-plus"></i>
                                    Add a new version
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-head-bg-warning">
                                <thead>
                                    <tr>
                                        <th scope="col-1">#</th>
                                        <th scope="col-2">Name</th>
                                        <th scope="col-2">Released on</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for version in versions %}
                                        <tr>
                                            <td>{{loop.index}}</td>
                                            <td>{{ version['name'] }}</td>
                                            <td>{{ version['release_date'] }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}